# Dependency directories
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
dist-ssr/
**/dist-ssr/

# Environment variables
.env
**/.env
!.env.example
!**/.env.example

# Logs
*.log
logs/

# Editor & OS files
.DS_Store
Thumbs.db
.vite/
**/.vite/
